@font-face {
    font-family: 'colaborate';
    src: url('../assets/fonts/ColabBol-webfont.eot');
    src: url('../assets/fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/ColabBol-webfont.woff') format('woff'),
         url('../assets/fonts/ColabBol-webfont.ttf') format('truetype'),
         url('../assets/fonts/ColabBol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(../assets/fonts/Merriweather-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(../assets/fonts/Merriweather-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url(../assets/fonts/Merriweather-LightItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url(../assets/fonts/Merriweather-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../assets/fonts/OpenSans.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../assets/fonts/OpenSans-Bold.woff2) format('woff2');
}
