@function ContactForm-backgroundColour($opacity) {
  @return rgba(225,239,253, $opacity);
}

$ContactForm-highlight: rgba(255,0,0,0.6);
$ContactForm-background: #FFFFFF;
.ModalBlock {
  opacity: 0;
  animation-play-state: paused;
}

.ContactForm {
  display: block;
  position: relative;
  
  height: 36px;

  animation-name: ContactForm-animateOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  
  .ModalOpenButton {
    animation-name: ModalOpenButton-animateIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 200ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    
    opacity: 0;
    
    .load & {
      animation-duration: 1ms;
      animation-delay: 1ms;
    }
  }

  h3.ModalBlock {
    display: none;
  }
  
  .ModalCloseBtn {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;

    width: 36px;
    height: 36px;

    background-color: #999988;
    border-radius: 100%;
    opacity: 0;

    text-align: center;
  }
}

.load .ContactForm,
.load .ModalOpenButton {
  animation-duration: 1ms;
  animation-delay: 0ms;

  opacity: 0;
}

.ContactForm--expanded {
  z-index: 10;
  width: auto;
  
  overflow: hidden;
  
  animation-name: ContactForm-animateIn;
  animation-duration: 600ms;
  animation-delay: 300ms;
  
  .ModalOpenButton {
    animation-name: ModalOpenButton-animateOut;
    animation-delay: 0s;
    
    position: absolute;
    left: 0;
    top: 0;
  }
  
  fieldset {
    opacity: 0;
    
    margin: 0 24px;
    background-color: ContactForm-backgroundColour(0.8);
    border: none;

    white-space: nowrap;
    
    legend {
      display: none;
    }
  }
  
  .ContactForm-collapsed {
    animation-name: ModalBlock-animateIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 300ms;

    animation-delay: 0;
    animation-fill-mode: forwards;
  }

  .ModalBlock {
    animation-name: ModalBlock-animateIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    
    animation-delay: 600ms;
    animation-fill-mode: forwards;

    animation-play-state: running;
    
    @for $i from 0 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: 600ms + (100 * $i);
        animation-duration: 500ms - (50 * $i);
      }
    }
    
    &:last-child {
      animation-name: ModalBlock--footer-animateIn;
      animation-duration: 400ms;
    }
  }

  h3.ModalBlock {
    display: block;
    background-color: #FFFFFF;
    margin: 0 0 1em;
    padding: 6px 24px;
    line-height: 1.5;
    font-size: 1.5em;
    font-family: "colaborate",Helvetica,Arial,sans-serif;
    color: #fff;
    
    animation-name: ModalBlock--header-animateIn;
    animation-delay: 400ms;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
  }
  
  
  .ModalCloseBtn {
    display: block;
    position: absolute;
    
    background-color: #999988;
    border-radius: 100%;

    line-height: 36px;
    vertical-align: middle;
    
    opacity: 0;
    animation: ModalCloseBtn-animateIn 1 ease-in 600ms 1000ms forwards;
    animation-delay: 760ms;
  }
  
  .FormBlock textarea {
    height: 320px;
  }
  
  .ContactForm-controls {
    padding: 0 30px 0 40px;
    text-align: right;
  }
}

.FormBlock {
  input,
  textarea {
    font-family: 'Merriweather', 'Times New Roman', 'Roman', serif;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5;
    
    outline: none;

    border: 3px solid #DADADF;
    &:active,
    &:focus {
      border: 3px solid $ContactForm-highlight;
    }
  }
  
  input {
    width: 92%;
    padding: .5em 4%;
  }
  
  textarea {
    width: 96%;
    padding: 2%;
  }
  
  label {
    display: inline-block;
    font-size: 1em;
    width: 48%;
    padding: 2%;
    font-family: "colaborate",Helvetica,Arial,sans-serif;
    text-indent: 1%;
    
    white-space: normal;
    &:nth-of-type(1) {
      padding-left: 0;
    }
    
    &:nth-of-type(2) {
      padding-right: 0;
    }
  }


  
  &--fullWidth {
    label {
      display: block;
      padding: 0;
    }
  }
}

@keyframes ModalBlock-animateIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ModalOpenButton-animateOut {
  0% {
    opacity: 1;
    color: #ffffff;
    transform: scale(1, 1);
  }
  50% {
    color: $Button-background;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
@keyframes ModalOpenButton-animateIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes ModalBlock--footer-animateIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes ModalBlock--header-animateIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;

    color: #003366;
    background-color: rgba(255,255,255,.9);
  }
}
@keyframes ModalCloseBtn-animateIn {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    right: 18px;
    top: 18px;
    
    line-height: 0;
    color: rgba(255,255,255,0);
  }
  50% {
    opacity: 1;
    width: 36px;
    height: 36px;
    top: 4px;
    right: 4px;
    
    vertical-align: middle;
    color: rgba(255,255,255,0);
  }
  
  100% {
    opacity: 1;
    width: 36px;
    height: 36px;
    top: 4px;
    right: 4px;

    vertical-align: middle;
    color: rgba(255,255,255,1);
  }
}

@media (--sm-viewport) {
  
  
  @keyframes ContactForm-animateIn {
    0% {
      height: 36px;
      margin: 0;

      min-width: 100%;
      left: 0;

      background-color: ContactForm-backgroundColour(0);
    }
    35% {
      background-color: ContactForm-backgroundColour(1);
      height: 108px;
    }
    55% {
      animation-timing-function: ease-out;
    }
    70% {
      height: 636px; /* 24px (height) - 2px (border top & bottom) */

      background-color: ContactForm-backgroundColour(1);

      width: auto;
    }
    100% {
      height: 636px; /* 24px (height) - 2px (border top & bottom) */

      background-color: ContactForm-backgroundColour(1);
      width: auto;
    }

  }
}

@media (--lg-viewport) {
  @keyframes ContactForm-animateOut {
    0% {
      min-width: 126%;
      left: -13%;

      margin: -300px 0 -300px 0;
      height: 636px; /* 24px (height) - 2px (border top & bottom) */

      background-color: ContactForm-backgroundColour(1);
      box-shadow: 4px 4px 14px rgba(00, 00, 00, 0.65);

      width: auto;
    }
    25% {
      box-shadow: 4px 4px 14px rgba(00, 00, 00, 0);
    }
    75% {
      min-width: 126%;
      left: -13%;
    }
    100% {
      height: 36px;
      margin: 0;

      left: 0;
      max-width: 100%;
      background-color: ContactForm-backgroundColour(0);
    }
  }
}

@media (--lg-viewport) {
  @keyframes ContactForm-animateIn {
    0% {
      height: 36px;
      margin: 0;
      
      min-width: 100%;
      left: 0;
      
      background-color: ContactForm-backgroundColour(0);
    }
    35% {
      background-color: ContactForm-backgroundColour(1);
      height: 108px;
      margin: -36px 0;
    }
    50% {
      min-width: 126%;
      left: -13%;
      box-shadow: 0 0 10px rgba(00,00,00,0);
    }
    55% {
      animation-timing-function: ease-out;
    }
    70% {
      min-width: 126%;
      left: -13%;
  
      margin: -300px 0 -300px 0;
      height: 636px; /* 24px (height) - 2px (border top & bottom) */
      
      box-shadow: 0 0 0 rgba(00,00,00,0);
      background-color: ContactForm-backgroundColour(1);
      
      width: auto;
    }
    100% {
      min-width: 126%;
      left: -13%;
  
      margin: -300px 0 -300px 0;
      height: 636px; /* 24px (height) - 2px (border top & bottom) */
      
      background-color: ContactForm-backgroundColour(1);
      box-shadow: 4px 4px 14px rgba(00,00,00,0.65);
      
      width: auto;
    }
  
  }
}