.ContactForm {
  display: block;
  position: relative;
  
  height: 24px;
  
  *:not(.ContactForm-collapsed) {
    display: none;
  }
}

.ContactForm--expanded {
  width: 126%;
  margin: -300px 0 -300px -13%;
  height: 600px;

  z-index: 10;

  background-color: rgba(232,232,255,0.8);
  box-shadow: 2px 2px 10px rgba(00,00,00,0.5);
  border: 1px solid #003366;

}