
@keyframes Modal-block-animateIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ModalOpenButton-animateOut {
  0% {
    opacity: 1;
    color: #ffffff;
    transform: scale(1, 1);
  }
  50% {
    color: $Button-background;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
@keyframes ModalOpenButton-animateIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes Modal-block--footer-animateIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Modal-block--header-animateIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;

    color: #003366;
    background-color: rgba(255,255,255,.9);
  }
}
@keyframes ModalCloseBtn-animateIn {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    right: 18px;
    top: 18px;
    
    line-height: 0;
    color: rgba(255,255,255,0);
  }
  50% {
    opacity: 1;
    width: 36px;
    height: 36px;
    top: 4px;
    right: 4px;
    
    vertical-align: middle;
    color: rgba(255,255,255,0);
  }
  
  100% {
    opacity: 1;
    width: 36px;
    height: 36px;
    top: 4px;
    right: 4px;

    vertical-align: middle;
    color: rgba(255,255,255,1);
  }
}


@keyframes ContactForm-animateOut {
  0% {
    min-width: 126%;
    left: -13%;

    margin: $ContactForm-finalMargin;
    height: $ContactForm--expandedHeight; /* 24px (height) - 2px (border top & bottom) */

    background-color: ContactForm-backgroundColour(1);
    box-shadow: 4px 4px 14px rgba(00, 00, 00, 0.65);

    width: auto;
  }
  25% {
    box-shadow: 4px 4px 14px rgba(00, 00, 00, 0);
  }
  75% {
    min-width: 126%;
    left: -13%;
  }
  100% {
    height: $ContactForm--collapsedHeight;
    margin: 0;

    left: 0;
    max-width: 100%;
    background-color: ContactForm-backgroundColour(0);
  }
}

@keyframes ContactForm-animateIn {
  0% {
    height: $ContactForm--collapsedHeight;
    margin: 0;
    
    min-width: 100%;
    left: 0;

    box-shadow: 0 0 0 rgba(00,00,00,0.0);
    background-color: ContactForm-backgroundColour(0);
  }
  35% {
    background-color: ContactForm-backgroundColour(1);
    height: 108px;
    margin: (0 - (108px - $ContactForm--collapsedHeight)/2) 0;

    box-shadow: 0 0 0 rgba(00,00,00,0.0);
  }
  50% {
    min-width: 126%;
    left: -13%;
  }
  55% {
    animation-timing-function: ease-out;
  }
  70% {
    min-width: 126%;
    left: -13%;

    margin: $ContactForm-finalMargin;
    height: $ContactForm--expandedHeight;
    
    background-color: ContactForm-backgroundColour(1);
    box-shadow: 4px 4px 14px rgba(00,00,00,0.65);
    
    width: auto;
  }
  100% {
    min-width: 126%;
    left: -13%;

    margin: $ContactForm-finalMargin;
    height: $ContactForm--expandedHeight; /* 24px (height) - 2px (border top & bottom) */
    
    background-color: ContactForm-backgroundColour(1);
    box-shadow: 4px 4px 14px rgba(00,00,00,0.65);
    
    width: auto;
  }

}