@function ContactForm-backgroundColour($opacity) {
  @return rgba(225,239,253, $opacity);
}

$ContactForm-highlight: rgba(255,0,0,0.6);
$ContactForm-background: #FFFFFF;
$ContactForm-finalMargin: -320px 0 -274px 0;
$ContactForm--collapsedHeight: 42px;
$ContactForm--expandedHeight: 636px;


.Modal-block {
  opacity: 0;
  animation-play-state: paused;
}

.ContactForm {
  display: block;
  position: relative;
  
  overflow: hidden;
  height: $ContactForm--collapsedHeight;

  animation-name: ContactForm-animateOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  
  .ModalOpenButton {
    animation-name: ModalOpenButton-animateIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 200ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    
    opacity: 0;
    
  }

  h3.Modal-block {
    display: none;
  }
  
  .Modal-closeBtn {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;

    width: 36px;
    height: 36px;

    background-color: #999988;
    border-radius: 100%;
    opacity: 0;

    text-align: center;
  }
}

.load .ContactForm,
.load .ModalOpenButton {
  animation-duration: 1ms;
  animation-delay: 0ms;

  opacity: 0;
}

.ContactForm.Modal--active {
  z-index: 10;
  width: auto;
  
  overflow: hidden;
  
  animation-name: ContactForm-animateIn;
  animation-duration: 600ms;
  animation-delay: 300ms;
  
  .ModalOpenButton {
    animation-name: ModalOpenButton-animateOut;
    animation-delay: 0s;
    
    position: absolute;
    left: 0;
    top: 0;
  }
  
  fieldset {
    opacity: 0;
    
    margin: 0 24px;
    background-color: ContactForm-backgroundColour(0.8);
    border: none;

    white-space: nowrap;
    
    legend {
      display: none;
    }
  }
  
  .ContactForm-collapsed {
    animation-name: Modal-block-animateIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 300ms;

    animation-delay: 0;
    animation-fill-mode: forwards;
  }

  .Modal-block {
    animation-name: Modal-block-animateIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    
    animation-delay: 600ms;
    animation-fill-mode: forwards;

    animation-play-state: running;
    
    @for $i from 0 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: 600ms + (100 * $i);
        animation-duration: 500ms - (50 * $i);
      }
    }
    
    &:last-child {
      animation-name: Modal-block--footer-animateIn;
      animation-duration: 400ms;
      
      margin-top: 12px;
    }
  }

  h3.Modal-block {
    display: block;
    background-color: #FFFFFF;
    margin: 0 0 1rem;
    padding: 6px 24px;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: "colaborate",Helvetica,Arial,sans-serif;
    color: #fff;
    
    animation-name: Modal-block--header-animateIn;
    animation-delay: 400ms;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
  }
  
  
 .Modal-closeBtn {
    display: block;
    position: absolute;
    
    background-color: #999988;
    border-radius: 100%;

    line-height: 36px;
    vertical-align: middle;
    
    opacity: 0;
    animation: ModalCloseBtn-animateIn 1 ease-in 600ms 1000ms forwards;
    animation-delay: 760ms;
  }
  
  .FormBlock textarea {
    height: 320px;
  }
  
  .ContactForm-controls {
    padding: 0 30px 0 40px;
    text-align: right;
  }
}

.FormBlock {
  input,
  textarea {
    font-family: 'Merriweather', 'Times New Roman', 'Roman', serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
    
    outline: none;

    border: 3px solid #DADADF;
    &:active,
    &:focus {
      border: 3px solid $ContactForm-highlight;
    }
  }
  
  input {
    width: 92%;
    padding: .5rem 4%;
  }
  
  textarea {
    width: 96%;
    padding: 2%;
  }
  
  label {
    display: inline-block;
    font-size: 1rem;
    width: 48%;
    padding: 2%;
    font-family: "colaborate",Helvetica,Arial,sans-serif;
    text-indent: 1%;
    
    white-space: normal;
    &:nth-of-type(1) {
      padding-left: 0;
    }
    
    &:nth-of-type(2) {
      padding-right: 0;
    }
  }


  
  &--fullWidth {
    label {
      display: block;
      padding: 0;
    }
  }
}

@import 'ContactForm-animations';