extends _layouts/_placeholder
block Vars
  -mainMenu = false
block MainContent
    div.Placeholder
      header
        h1.LogoName
          span.LogoName-first Kashi
          span.LogoName-last Samaraweera
        h2 Web application developer
      p
        | A member of the enterprise and digital services team at the 
        a(href="//www.sbs.com.au",rel="noreferrer") Special Broadcasting Corporation
        |  and formerly at creative agency 
        a(href="http://marcel.sydney/",rel="noreferrer") Marcel Sydney
        |  and full-service healthcare agency 
        a(href="//ward6.asia/",rel="noreferrer") Ward6 Australia
        | .
      p
        | Examples of my work can be found on 
        a(href="//github.com/kashisau") GitHub
        |  or 
        a(href="//bitbucket.org/kashisau/") BitBucket
        | . You can keep up with my sandstone adventures around Sydney via 
        a(href="//instagram.com/kashisamaraweera") Instagram
        | , connect to my professional network via 
        a(href="//au.linkedin.com/in/kashis") LinkedIn
        |  or get in touch via email, 
        a(href="mailto:Kashi%20Samaraweera%20<kashi@kashis.com.au>") kashi@kashis.com.au
        | .
