extends _layouts/_placeholder
block Vars
  -mainMenu = false
block MainContent
    div.Placeholder
      header
        h1.LogoName
          span.LogoName-first Kashi
          span.LogoName-last Samaraweera
        h2 Web application developer
      p
        | Formerly developing e-learning web apps, websites and integrated CMS systems with agencies 
        a(href="http://marcel.sydney/",rel="noreferrer") Marcel Sydney
        |  and 
        a(href="http://ward6.com.au/",rel="noreferrer") Ward6 Australia
        | , I'm now looking for a permanent role that allows me to exact a range of web development skills towards a cause of social value.
      p
        | Examples of my work can be found on either
        a(href="https://github.com/kashisau") GitHub
        |  or 
        a(href="https://bitbucket.org/kashisau/") BitBucket
        | . You can keep up with my sandstone adventures around Sydney via 
        a(href="https://instagram.com/kashisamaraweera") Instagram
        | , connect to my professional network via 
        a(href="https://au.linkedin.com/in/kashis") LinkedIn
        |  or get in touch via email, 
        a(href="mailto:Kashi%20Samaraweera%20<kashi@kashis.com.au>") kashi@kashis.com.au
        | .
