extends _layouts/_placeholder
block Vars
  -mainMenu = false
block MainContent
    div.Placeholder
      header
        h1.LogoName
          span.LogoName-first Kashi
          span.LogoName-last Samaraweera
        h2 Full-stack developer
      p
        | Formerly at Sydney creative agency 
        a(href="http://ward6.com.au/",rel="noreferrer") Ward6
        | , I've taken a break from commercial work until early 2016 to do some travelling and hone my skills in emergent web technologies. 
      p
        | During this time I'll be working on my portfolio, the progress of which can be tracked on  
        a(href="https://github.com/kashisau") GitHub
        | . You can keep up with my travels via 
        a(href="https://instagram.com/kashisamaraweera") Instagram
        | , connect to my professional network via 
        a(href="https://au.linkedin.com/in/kashis") LinkedIn
        |  or get in touch via email, 
        a(href="mailto:Kashi%20Samaraweera%20<kashi@kashis.com.au>") kashi@kashis.com.au
        | .
